@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.login-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: red;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-size: 2em;
    color: aliceblue;
    text-align: center;
}

.input-box {
    position: relative;
    border-radius: 20px;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid white;
}